extends layout

block content

	.row
		.col-sm-12
			.jumbotron
				h1.display-3 Cool Storage of Las Vegas, LLC
				p.lead Our business is all about 95% trucking and 5% storage.
				hr.my-4
				.to-right
					h5 Contact us now!
					a.btn.btn-primary(href='/contact') Get info

	.container
		.row
			.col-sm-7.to-center
				.card
					img.card-img-top.img-fluid(src='images/Route.jpg' alt='route')
					.card-block
						h4.card-title Our route
						p.card-text We deliver your cold stuff from Las Vegas to California and vice versa!
