extends layout

block content

	.row
		.col-sm-12
			.jumbotron
				h1.display-3 Want to avail of our services?
				p.lead Please do not hesitate to reach us through telephone and email. You can even visit us!

	.container
		.row
			.col-sm-12
				ul.list-group
					li.list-group-item.active
						h5 Contact Information
					li.list-group-item Cool Storage of Las Vegas, LLC
					li.list-group-item 2955 Westwood Drive
					li.list-group-item Las Vegas, NV 89119
					li.list-group-item (702) 201 - 1433
					li.list-group-item coolstorage2955@outlook.com