extends layout

block content

	.row
		.col-sm-12
			img.img-fluid(src='images/truck.jpg' width='100%' alt='truck')

	.container
		hr
		.row
			.col-sm-4
				.card.text-center
					.card-block
						h5.card-title What is CSLV?
						p.card-text Know what we do!
						a.btn.btn-primary(href='/about') About

			.col-sm-4
				.card.text-center
					.card-block
						h5.card-title Want to avail of our services?
						p.card-text Contact us now!
						a.btn.btn-primary(href='/contact') Contact

			.col-sm-4
				.card.text-center
					.card-block
						h5.card-title Product Niche
						p.card-text What are our products?
						a.btn.btn-primary(href='#') Niche