doctype html
html
	head
		title= title

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')

		link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')

		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		
		nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md
			button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#nav-items' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			a.navbar-brand(href='#') CSLV

			.collapse.navbar-collapse#nav-items
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='/') Home
					li.nav-item
						a.nav-link(href='/about') About
					li.nav-item
						a.nav-link(href='/contact') Contact

		block content

		.footer
			span Copyright &copy; 2017 | All rights reserved.

		script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')